<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Albums</title>
    <link rel="stylesheet" href="/style.css">
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
            rel="stylesheet"
    />

</head>
<body>
<h1>ALBUMS</h1>

<section>
    <div th:each="data : ${albumsList}">
        <div class="card">
            <h4 th:text="${data.artist}">Artist</h4>
            <img th:src="${data.imgUrl}" alt="img" width="300" height="300">
            <p th:text="'Song Count: ' + ${data.songCount} + ' songs'">Song Count</p>
            <p th:text="'Album Length: ' + ${data.songLength} + ' min'">length</p>
        </div>
        <form th:action="'/albums/' + ${data.getId()}" method="POST">
            <input type="hidden" name="albumId" th:value="${data.getId()}">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete Album">
        </form>
<!--        <form th:action="'/albums/' + ${data.id}'" method="POST">-->
<!--            <input type="submit" value="Delete Album">-->
<!--        </form>-->

    </div>
    <div>
        <form action="/albums" method="POST">
            <Legend><h2>Add New Albums Here: </h2></Legend>
            Title <input type="text" name="title">
            Artist <input type="text" name="artist">
            Number of songs in the albums <input type="number" name="songCount">
            Length in seconds <input type="String" name="songLength">
            ImageUrl <input type="text" name="imgUrl">
            <input type="submit">
        </form>

    </div>
</section>


</body>
</html>